<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button [routerLink]="['/shops/']">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title> {{ 'SETTINGS.title' | translate }} </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header lines="inset">
      <ion-label> {{ 'SETTINGS.apparences' | translate }} </ion-label>
    </ion-list-header>
    <br>
    <ion-item lines="inset">
      <ion-icon slot="start" name="moon-outline"></ion-icon>
      <ion-label> {{ 'SETTINGS.toggle_dark' | translate }} </ion-label>
      <ion-toggle slot="end" [(ngModel)]="dark" (ionChange)="updateDarkMode()"></ion-toggle>
    </ion-item>
    <br>
    <ion-item>
      <ion-icon slot="start" name="language-outline"></ion-icon>
      <ion-label> {{ 'SETTINGS.language' | translate }} </ion-label>
      <ion-select [(ngModel)]="language" [cancelText]="languageCancelText" (ngModelChange)="changeLanguage($event)">
        <ion-select-option value="it">{{'SETTINGS.italian' | translate}}</ion-select-option>
        <ion-select-option value="en">{{'SETTINGS.english' | translate}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <br>
  <ion-list hidden>
    <ion-list-header lines="inset">
      <ion-label> {{ 'SETTINGS.profile' | translate }} </ion-label>
    </ion-list-header>
    <br> 
    <ion-item [routerLink]="['/change-password/']">
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-label> {{ 'SETTINGS.change_password' | translate }} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>